@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('./css/reset.css');
:root {
  --font-family: 'Lato', sans-serif;
}

body {
  font-family: var(--font-family);
  background-image: url('./images/background/mob/bg-mob-effects-left.png'),
    url('./images/background/mob/bg-mob-effects-right.png'),
    url('./images/background/tab/bg-tab-today-1x.jpg');
  background-repeat: no-repeat;
  background-size: auto, auto, cover;
  background-position: left top, right top, top;
  min-height: 100vh;
  @media only screen and (min-width: 768px) {
    background-image: url('./images/background/tab/bg-tab-effects-left.png'),
      url('./images/background/tab/bg-tab-effects-right.png'),
      url('./images/background/tab/bg-tab-today-1x.jpg');
    @media only screen and (min-width: 1280px) {
      background-image: url('./images/background/desc/bg-desc-effects-left.png'),
        url('./images/background/desc/bg-desc-effects-right.png'),
        url('./images/background/desc/bg-desc-today-1x.jpg');
    }
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  body {
    background-image: url('./images/background/mob/bg-mob-effects-left.png'),
      url('./images/background/mob/bg-mob-effects-right.png'),
      url('./images/background/tab/bg-tab-today-2x.jpg');
    @media only screen and (min-width: 768px) {
      background-image: url('./images/background/tab/bg-tab-effects-left.png'),
        url('./images/background/tab/bg-tab-effects-right.png'),
        url('./images/background/tab/bg-tab-today-2x.jpg');
      @media only screen and (min-width: 1280px) {
        background-image: url('./images/background/desc/bg-desc-effects-left.png'),
          url('./images/background/desc/bg-desc-effects-right.png'),
          url('./images/background/desc/bg-desc-today-2x.jpg');
      }
    }
  }
}

header {
  margin-top: 32px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  justify-content: center;
}

.search-input-div {
  position: relative;
  width: fit-content;
}
.search-location-icon {
  position: absolute;
  left: 20px;
  top: 13px;
}
.search-input {
  outline: none;
  padding: 16px 58px;
  border-radius: 30px;
  border: none;
  max-width: 280px;
  max-height: 48px;
  &::placeholder {
    opacity: 1;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.04em;
    color: #000;
  }
}
.search-star-icon {
  position: absolute;
  right: 20px;
  top: 13px;
}

.swiper {
  width: 160px;
  height: 48px;
}

.swiper-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.swiper-next {
  width: fit-content;
  z-index: 1000;
}

.swiper-general-wrap {
  gap: 65px;
  display: flex;
}

.swiper-slide {
  display: flex;
  gap: 10px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fff;
  border-radius: 20px;
  padding: 6px 12px;
  max-width: 72px;
  max-height: 28px;
  background: rgba(16, 33, 54, 0.5);
}

.span-city-name {
  display: block;
}
